USE [master]
GO
/****** Object:  Database [EmpanadasSuMerce]    Script Date: 18/04/2026 11:08:50 p. m. ******/
CREATE DATABASE [EmpanadasSuMerce]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmpanadasSuMerce', FILENAME = N'/var/opt/mssql/data/EmpanadasSuMerce.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmpanadasSuMerce_log', FILENAME = N'/var/opt/mssql/data/EmpanadasSuMerce_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmpanadasSuMerce].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmpanadasSuMerce]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[pedido_id] [int] IDENTITY(1,1) NOT NULL,
	[folio]  AS ('EMP-'+right('000000'+CONVERT([varchar],[pedido_id]),(6))) PERSISTED,
	[whatsapp] [varchar](20) NOT NULL,
	[tipo_pedido] [varchar](10) NOT NULL,
	[tipo_entrega] [varchar](10) NOT NULL,
	[direccion_id] [int] NULL,
	[metodo_pago_id] [tinyint] NOT NULL,
	[tarjeta_id] [int] NULL,
	[referencia_pago] [varchar](200) NULL,
	[estado_pago] [varchar](20) NOT NULL,
	[requiere_factura] [bit] NOT NULL,
	[dato_fiscal_id] [int] NULL,
	[subtotal] [decimal](12, 2) NOT NULL,
	[iva] [decimal](12, 2) NOT NULL,
	[descuento] [decimal](12, 2) NOT NULL,
	[total]  AS (([subtotal]+[iva])-[descuento]) PERSISTED,
	[estado_pedido] [varchar](20) NOT NULL,
	[codigo_entrega_sistema] [varchar](10) NULL,
	[codigo_entrega_repartidor] [varchar](10) NULL,
	[entregado] [bit] NOT NULL,
	[canal] [varchar](20) NOT NULL,
	[es_cotizacion] [bit] NOT NULL,
	[cotizacion_atendida] [bit] NOT NULL,
	[fecha_evento] [datetime2](7) NULL,
	[qr_codigo] [varchar](100) NULL,
	[qr_generado] [bit] NOT NULL,
	[fecha_pedido] [datetime2](7) NOT NULL,
	[fecha_confirmacion] [datetime2](7) NULL,
	[fecha_entrega_real] [datetime2](7) NULL,
	[calificacion_tiempo] [tinyint] NULL,
	[calificacion_producto] [tinyint] NULL,
	[comentario_tiempo] [nvarchar](500) NULL,
	[comentario_producto] [nvarchar](500) NULL,
	[opinion_solicitada] [bit] NOT NULL,
	[repartidor_id] [int] NULL,
	[qr_token] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[pedido_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_VentasMes]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ── Ventas por mes (año actual) ────────────────────────────────
CREATE VIEW [dbo].[vw_VentasMes] AS
SELECT
    YEAR(p.fecha_pedido)            AS anio,
    MONTH(p.fecha_pedido)           AS mes,
    COUNT(*)                        AS total_pedidos,
    SUM(p.total)                    AS ingresos_total,
    AVG(p.total)                    AS ticket_promedio
FROM Pedido p
WHERE p.estado_pedido NOT IN ('cancelado')
GROUP BY YEAR(p.fecha_pedido), MONTH(p.fecha_pedido);
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[detalle_id] [int] IDENTITY(1,1) NOT NULL,
	[pedido_id] [int] NOT NULL,
	[producto_id] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[subtotal]  AS ([cantidad]*[precio_unitario]) PERSISTED,
	[aplica_iva] [bit] NOT NULL,
	[iva_monto] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[detalle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[producto_id] [int] IDENTITY(1,1) NOT NULL,
	[categoria_id] [tinyint] NOT NULL,
	[nombre] [varchar](80) NOT NULL,
	[descripcion] [varchar](300) NULL,
	[precio_actual] [decimal](10, 2) NOT NULL,
	[aplica_iva] [bit] NOT NULL,
	[tasa_iva] [decimal](5, 4) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[producto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_VentasProductoHoy]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_VentasProductoHoy] AS
SELECT
    pr.nombre                       AS producto,
    SUM(dp.cantidad)                AS unidades_vendidas,
    SUM(dp.subtotal)                AS ingresos
FROM DetallePedido dp
JOIN Producto pr ON dp.producto_id = pr.producto_id
JOIN Pedido p    ON dp.pedido_id   = p.pedido_id
WHERE CAST(p.fecha_pedido AS DATE) = CAST(GETDATE() AS DATE)
  AND p.estado_pedido NOT IN ('cancelado')
GROUP BY pr.producto_id, pr.nombre;
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[whatsapp] [varchar](20) NOT NULL,
	[nombre] [varchar](80) NULL,
	[apellidos] [varchar](80) NULL,
	[genero] [char](1) NULL,
	[email] [varchar](120) NULL,
	[sesion_estado] [varchar](30) NULL,
	[sesion_datos] [nvarchar](max) NULL,
	[sesion_actualizada] [datetime2](7) NULL,
	[total_pedidos] [int] NOT NULL,
	[total_gastado] [decimal](12, 2) NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_baja] [datetime2](7) NULL,
	[activo] [bit] NOT NULL,
	[bloqueo_sordo] [bit] NOT NULL,
	[bloqueo_ia] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[whatsapp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Top20Clientes]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ── Top 20 mejores clientes ────────────────────────────────────
CREATE VIEW [dbo].[vw_Top20Clientes] AS
SELECT TOP 20
    c.whatsapp,
    ISNULL(c.nombre + ' ' + ISNULL(c.apellidos,''), c.whatsapp) AS cliente,
    c.total_pedidos,
    c.total_gastado,
    AVG(p.total)    AS ticket_promedio,
    MAX(p.fecha_pedido) AS ultimo_pedido
FROM Cliente c
JOIN Pedido p ON c.whatsapp = p.whatsapp
WHERE c.activo = 1
  AND p.estado_pedido NOT IN ('cancelado')
GROUP BY c.whatsapp, c.nombre, c.apellidos, c.total_pedidos, c.total_gastado
ORDER BY c.total_gastado DESC;
GO
/****** Object:  Table [dbo].[EstadoCocina]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoCocina](
	[estado_cocina_id] [int] IDENTITY(1,1) NOT NULL,
	[pedido_id] [int] NOT NULL,
	[empleado_cocina_id] [int] NULL,
	[estado] [varchar](20) NOT NULL,
	[observaciones] [varchar](300) NULL,
	[fecha_inicio] [datetime2](7) NULL,
	[fecha_fin] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[estado_cocina_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EstadoCocina_Pedido] UNIQUE NONCLUSTERED 
(
	[pedido_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DireccionCliente]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DireccionCliente](
	[direccion_id] [int] IDENTITY(1,1) NOT NULL,
	[whatsapp] [varchar](20) NOT NULL,
	[alias] [varchar](60) NULL,
	[calle] [varchar](150) NULL,
	[numero_exterior] [varchar](20) NULL,
	[numero_interior] [varchar](20) NULL,
	[colonia] [varchar](100) NULL,
	[ciudad] [varchar](80) NULL,
	[estado] [varchar](60) NULL,
	[codigo_postal] [varchar](10) NULL,
	[latitud] [decimal](10, 7) NULL,
	[longitud] [decimal](10, 7) NULL,
	[es_predeterminada] [bit] NOT NULL,
	[activa] [bit] NOT NULL,
	[fecha_registro] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[direccion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ColaCocina]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ColaCocina] AS
SELECT
    p.pedido_id,
    p.folio,
    p.fecha_pedido,
    p.tipo_entrega,
    ec.estado                       AS estado_cocina,
    p.estado_pedido,
    p.qr_codigo,
    -- Detalle comprimido de productos
    STRING_AGG(
        CAST(dp.cantidad AS VARCHAR) + 'x ' + pr.nombre, ', '
    ) WITHIN GROUP (ORDER BY pr.nombre) AS productos,
    -- Dirección de entrega
    dc.calle + ' ' + ISNULL(dc.numero_exterior,'') + ', ' + ISNULL(dc.colonia,'') AS direccion_entrega
FROM Pedido p
JOIN DetallePedido dp   ON p.pedido_id    = dp.pedido_id
JOIN Producto pr        ON dp.producto_id = pr.producto_id
LEFT JOIN EstadoCocina ec ON p.pedido_id  = ec.pedido_id
LEFT JOIN DireccionCliente dc ON p.direccion_id = dc.direccion_id
WHERE p.estado_pedido IN ('recibido','en_cocina')
GROUP BY p.pedido_id, p.folio, p.fecha_pedido, p.tipo_entrega,
         ec.estado, p.estado_pedido, p.qr_codigo,
         dc.calle, dc.numero_exterior, dc.colonia;
GO
/****** Object:  Table [dbo].[UnidadMedida]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnidadMedida](
	[unidad_id] [tinyint] NOT NULL,
	[clave] [varchar](10) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[unidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[proveedor_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](120) NOT NULL,
	[contacto_nombre] [varchar](80) NULL,
	[telefono] [varchar](20) NULL,
	[email] [varchar](120) NULL,
	[calle] [varchar](150) NULL,
	[colonia] [varchar](100) NULL,
	[ciudad] [varchar](80) NULL,
	[estado] [varchar](60) NULL,
	[latitud] [decimal](10, 7) NULL,
	[longitud] [decimal](10, 7) NULL,
	[activo] [bit] NOT NULL,
	[fecha_registro] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[proveedor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insumo]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insumo](
	[insumo_id] [int] IDENTITY(1,1) NOT NULL,
	[proveedor_id] [int] NULL,
	[unidad_id] [tinyint] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](200) NULL,
	[stock_actual] [decimal](12, 3) NOT NULL,
	[stock_minimo] [decimal](12, 3) NOT NULL,
	[costo_unitario] [decimal](10, 4) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_registro] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[insumo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StockCritico]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_StockCritico] AS
SELECT TOP (100) PERCENT
    i.insumo_id,
    i.nombre,
    um.nombre           AS unidad,
    i.stock_actual,
    i.stock_minimo,
    i.stock_actual - i.stock_minimo AS diferencia,
    p.nombre            AS proveedor,
    p.telefono          AS telefono_proveedor
FROM Insumo i
JOIN UnidadMedida um    ON i.unidad_id    = um.unidad_id
LEFT JOIN Proveedor p   ON i.proveedor_id = p.proveedor_id
WHERE i.activo = 1
  AND i.stock_actual <= i.stock_minimo
ORDER BY (i.stock_actual - i.stock_minimo);
 
GO
/****** Object:  View [dbo].[vw_EstadisticasPublicas]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_EstadisticasPublicas] AS
SELECT
    (SELECT COUNT(*) FROM Pedido WHERE estado_pedido = 'entregado')               AS total_pedidos_entregados,
    (SELECT SUM(dp.cantidad) FROM DetallePedido dp JOIN Pedido p ON dp.pedido_id = p.pedido_id WHERE p.estado_pedido = 'entregado') AS total_empanadas_vendidas,
    (SELECT COUNT(DISTINCT whatsapp) FROM Pedido WHERE estado_pedido = 'entregado') AS total_clientes_atendidos,
    (SELECT COUNT(*) FROM Pedido WHERE tipo_pedido = 'evento' AND estado_pedido = 'entregado') AS eventos_atendidos,
    (SELECT COUNT(*) FROM Pedido WHERE calificacion_producto >= 4)                 AS comentarios_positivos,
    (SELECT COUNT(*) FROM Pedido WHERE calificacion_producto <= 2 AND calificacion_producto IS NOT NULL) AS comentarios_negativos;
GO
/****** Object:  Table [dbo].[Alerta]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alerta](
	[alerta_id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](40) NOT NULL,
	[referencia_id] [int] NULL,
	[mensaje] [nvarchar](500) NOT NULL,
	[atendida] [bit] NOT NULL,
	[empleado_id] [int] NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_atendida] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[alerta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campana]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campana](
	[campana_id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_campana_id] [tinyint] NOT NULL,
	[empleado_id] [int] NULL,
	[nombre] [varchar](150) NOT NULL,
	[mensaje] [nvarchar](1000) NOT NULL,
	[imagen_url] [varchar](500) NULL,
	[red_social_id] [tinyint] NULL,
	[filtro_genero] [char](1) NULL,
	[filtro_min_pedidos] [int] NULL,
	[filtro_max_pedidos] [int] NULL,
	[filtro_min_gasto] [decimal](10, 2) NULL,
	[total_destinatarios] [int] NOT NULL,
	[total_enviados] [int] NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_programada] [datetime2](7) NULL,
	[fecha_inicio_envio] [datetime2](7) NULL,
	[fecha_fin_envio] [datetime2](7) NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[campana_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CampanaEnvio]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampanaEnvio](
	[envio_id] [int] IDENTITY(1,1) NOT NULL,
	[campana_id] [int] NOT NULL,
	[whatsapp] [varchar](20) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_envio] [datetime2](7) NULL,
	[fecha_respuesta] [datetime2](7) NULL,
	[respuesta] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[envio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CapacidadDiaria]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapacidadDiaria](
	[capacidad_id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[limite_empanadas] [int] NOT NULL,
	[empanadas_vendidas] [int] NOT NULL,
	[acepta_pedidos] [bit] NOT NULL,
	[motivo_cierre] [varchar](200) NULL,
	[empleado_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[capacidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaProducto]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaProducto](
	[categoria_id] [tinyint] NOT NULL,
	[nombre] [varchar](60) NOT NULL,
	[descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CfdiUso]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CfdiUso](
	[cfdi_uso_id] [tinyint] NOT NULL,
	[clave] [varchar](4) NOT NULL,
	[descripcion] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cfdi_uso_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CorteCaja]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CorteCaja](
	[corte_id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NOT NULL,
	[fecha_corte] [date] NOT NULL,
	[total_ventas] [decimal](12, 2) NOT NULL,
	[total_efectivo] [decimal](12, 2) NOT NULL,
	[total_tarjeta] [decimal](12, 2) NOT NULL,
	[total_pedidos] [int] NOT NULL,
	[total_gastos] [decimal](12, 2) NOT NULL,
	[reserva_impuestos] [decimal](12, 2) NOT NULL,
	[utilidad_bruta]  AS ([total_ventas]-[total_gastos]) PERSISTED,
	[observaciones] [nvarchar](500) NULL,
	[fecha_registro] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[corte_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[fecha_corte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CotizacionEvento]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CotizacionEvento](
	[cotizacion_id] [int] IDENTITY(1,1) NOT NULL,
	[pedido_id] [int] NULL,
	[whatsapp] [varchar](20) NOT NULL,
	[nombre_evento] [varchar](150) NULL,
	[fecha_evento] [date] NULL,
	[cantidad_estimada] [int] NOT NULL,
	[observaciones] [nvarchar](500) NULL,
	[monto_cotizado] [decimal](12, 2) NULL,
	[estado] [varchar](20) NOT NULL,
	[empleado_id] [int] NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_seguimiento] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[cotizacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatoFiscalCliente]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatoFiscalCliente](
	[dato_fiscal_id] [int] IDENTITY(1,1) NOT NULL,
	[whatsapp] [varchar](20) NOT NULL,
	[rfc] [varchar](13) NOT NULL,
	[razon_social] [varchar](200) NOT NULL,
	[calle] [varchar](150) NULL,
	[numero_exterior] [varchar](20) NULL,
	[numero_interior] [varchar](20) NULL,
	[colonia] [varchar](100) NULL,
	[codigo_postal] [varchar](10) NULL,
	[cfdi_uso_id] [tinyint] NULL,
	[regimen_id] [smallint] NULL,
	[es_predeterminado] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_registro] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dato_fiscal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[empleado_id] [int] IDENTITY(1,1) NOT NULL,
	[rol_id] [tinyint] NOT NULL,
	[nombre] [varchar](80) NOT NULL,
	[apellidos] [varchar](80) NOT NULL,
	[telefono_whatsapp] [varchar](20) NULL,
	[email] [varchar](120) NULL,
	[sueldo_mensual] [decimal](10, 2) NULL,
	[fecha_alta] [date] NOT NULL,
	[fecha_baja] [date] NULL,
	[activo] [bit] NOT NULL,
	[username] [varchar](60) NULL,
	[password_hash] [varchar](256) NULL,
	[salt] [varchar](64) NULL,
	[ultima_sesion] [datetime2](7) NULL,
	[recovery_token] [varchar](200) NULL,
	[recovery_token_expires] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[empleado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GastoOperativo]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GastoOperativo](
	[gasto_id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_gasto_id] [tinyint] NOT NULL,
	[empleado_id] [int] NULL,
	[descripcion] [varchar](300) NULL,
	[monto] [decimal](12, 2) NOT NULL,
	[comprobante_url] [varchar](500) NULL,
	[fecha_gasto] [date] NOT NULL,
	[fecha_registro] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[gasto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialPrecio]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialPrecio](
	[historial_precio_id] [int] IDENTITY(1,1) NOT NULL,
	[producto_id] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[vigente_desde] [datetime2](7) NOT NULL,
	[vigente_hasta] [datetime2](7) NULL,
	[motivo] [varchar](200) NULL,
	[empleado_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[historial_precio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogSistema]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogSistema](
	[log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[nivel] [varchar](10) NOT NULL,
	[modulo] [varchar](60) NOT NULL,
	[accion] [varchar](100) NOT NULL,
	[whatsapp] [varchar](20) NULL,
	[empleado_id] [int] NULL,
	[pedido_id] [int] NULL,
	[detalle] [nvarchar](max) NULL,
	[ip_origen] [varchar](45) NULL,
	[fecha] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MensajeExterno]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MensajeExterno](
	[mensaje_id] [int] IDENTITY(1,1) NOT NULL,
	[red_social_id] [tinyint] NULL,
	[remitente] [varchar](200) NULL,
	[canal] [varchar](40) NOT NULL,
	[mensaje] [nvarchar](2000) NOT NULL,
	[requiere_humano] [bit] NOT NULL,
	[respondido] [bit] NOT NULL,
	[respuesta] [nvarchar](2000) NULL,
	[empleado_id] [int] NULL,
	[fecha_recepcion] [datetime2](7) NOT NULL,
	[fecha_respuesta] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[mensaje_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Merma]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merma](
	[merma_id] [int] IDENTITY(1,1) NOT NULL,
	[insumo_id] [int] NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
	[tipo_merma] [varchar](100) NOT NULL,
	[motivo] [varchar](255) NULL,
	[costo_unitario] [decimal](10, 2) NOT NULL,
	[costo_total] [decimal](10, 2) NOT NULL,
	[empleado_id] [int] NOT NULL,
	[fecha] [datetime] NULL,
	[producto_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[merma_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoPago]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoPago](
	[metodo_pago_id] [tinyint] NOT NULL,
	[nombre] [varchar](40) NOT NULL,
	[descripcion] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[metodo_pago_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientoInventario]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoInventario](
	[movimiento_id] [int] IDENTITY(1,1) NOT NULL,
	[insumo_id] [int] NOT NULL,
	[tipo_mov_id] [tinyint] NOT NULL,
	[proveedor_id] [int] NULL,
	[empleado_id] [int] NULL,
	[cantidad] [decimal](12, 3) NOT NULL,
	[costo_unitario] [decimal](10, 4) NULL,
	[costo_total]  AS ([cantidad]*isnull([costo_unitario],(0))) PERSISTED,
	[motivo] [varchar](300) NULL,
	[fecha_movimiento] [datetime2](7) NOT NULL,
	[pedido_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[movimiento_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagoPasarela]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagoPasarela](
	[pago_id] [int] IDENTITY(1,1) NOT NULL,
	[pedido_id] [int] NOT NULL,
	[metodo_pago_id] [tinyint] NOT NULL,
	[monto] [decimal](12, 2) NOT NULL,
	[comision_pasarela] [decimal](10, 2) NULL,
	[referencia_externa] [varchar](200) NULL,
	[estado] [varchar](20) NOT NULL,
	[url_pago] [varchar](500) NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_confirmacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[pago_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoPromocion]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoPromocion](
	[pedido_promo_id] [int] IDENTITY(1,1) NOT NULL,
	[pedido_id] [int] NOT NULL,
	[promocion_id] [int] NOT NULL,
	[descuento_aplicado] [decimal](10, 2) NOT NULL,
	[fecha_aplicacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pedido_promo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrestamoEmpleado]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrestamoEmpleado](
	[prestamo_id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[descripcion] [varchar](300) NULL,
	[fecha_prestamo] [date] NOT NULL,
	[saldo_pendiente] [decimal](10, 2) NOT NULL,
	[pagado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[prestamo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promocion]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promocion](
	[promocion_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NULL,
	[tipo] [varchar](30) NOT NULL,
	[valor] [decimal](10, 2) NULL,
	[producto_gratis_id] [int] NULL,
	[cantidad_gratis] [int] NULL,
	[min_pedidos_req] [int] NULL,
	[min_monto_req] [decimal](10, 2) NULL,
	[activa] [bit] NOT NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[promocion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicacionRedSocial]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicacionRedSocial](
	[publicacion_id] [int] IDENTITY(1,1) NOT NULL,
	[red_social_id] [tinyint] NOT NULL,
	[empleado_id] [int] NULL,
	[titulo] [varchar](200) NULL,
	[texto] [nvarchar](2000) NOT NULL,
	[imagen_url] [varchar](500) NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_programada] [datetime2](7) NULL,
	[fecha_publicacion] [datetime2](7) NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[publicacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecetaProducto]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecetaProducto](
	[receta_id] [int] IDENTITY(1,1) NOT NULL,
	[producto_id] [int] NOT NULL,
	[insumo_id] [int] NOT NULL,
	[cantidad_por_unidad] [decimal](10, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[receta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Receta] UNIQUE NONCLUSTERED 
(
	[producto_id] ASC,
	[insumo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RedSocial]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RedSocial](
	[red_social_id] [tinyint] NOT NULL,
	[nombre] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[red_social_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegimenFiscal]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegimenFiscal](
	[regimen_id] [smallint] NOT NULL,
	[clave] [varchar](4) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[regimen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[rol_id] [tinyint] NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TarjetaCliente]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarjetaCliente](
	[tarjeta_id] [int] IDENTITY(1,1) NOT NULL,
	[whatsapp] [varchar](20) NOT NULL,
	[token_pasarela] [varchar](200) NOT NULL,
	[ultimos_4] [char](4) NOT NULL,
	[marca] [varchar](20) NULL,
	[es_predeterminada] [bit] NOT NULL,
	[activa] [bit] NOT NULL,
	[fecha_registro] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tarjeta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoCampana]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoCampana](
	[tipo_campana_id] [tinyint] NOT NULL,
	[nombre] [varchar](60) NOT NULL,
	[descripcion] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[tipo_campana_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoGasto]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoGasto](
	[tipo_gasto_id] [tinyint] NOT NULL,
	[nombre] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tipo_gasto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMovimientoInventario]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMovimientoInventario](
	[tipo_mov_id] [tinyint] NOT NULL,
	[nombre] [varchar](40) NOT NULL,
	[es_entrada] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tipo_mov_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Alerta_Atendida]    Script Date: 18/04/2026 11:08:50 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Alerta_Atendida] ON [dbo].[Alerta]
(
	[atendida] ASC,
	[fecha_creacion] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CampanaEnvio_Campana]    Script Date: 18/04/2026 11:08:50 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_CampanaEnvio_Campana] ON [dbo].[CampanaEnvio]
(
	[campana_id] ASC,
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CampanaEnvio_WA]    Script Date: 18/04/2026 11:08:50 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_CampanaEnvio_WA] ON [dbo].[CampanaEnvio]
(
	[whatsapp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cliente_Activo]    Script Date: 18/04/2026 11:08:50 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Cliente_Activo] ON [dbo].[Cliente]
(
	[activo] ASC,
	[total_pedidos] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CorteCaja_Fecha]    Script Date: 18/04/2026 11:08:50 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_CorteCaja_Fecha] ON [dbo].[CorteCaja]
(
	[fecha_corte] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetallePedido_Producto]    Script Date: 18/04/2026 11:08:50 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_DetallePedido_Producto] ON [dbo].[DetallePedido]
(
	[producto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Empleado_Email]    Script Date: 18/04/2026 11:08:50 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Empleado_Email] ON [dbo].[Empleado]
(
	[email] ASC
)
WHERE ([email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Insumo_StockMinimo]    Script Date: 18/04/2026 11:08:50 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Insumo_StockMinimo] ON [dbo].[Insumo]
(
	[activo] ASC,
	[stock_actual] ASC,
	[stock_minimo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Log_Fecha_Nivel]    Script Date: 18/04/2026 11:08:50 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Log_Fecha_Nivel] ON [dbo].[LogSistema]
(
	[fecha] DESC,
	[nivel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Log_Modulo]    Script Date: 18/04/2026 11:08:50 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Log_Modulo] ON [dbo].[LogSistema]
(
	[modulo] ASC,
	[fecha] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovInv_Fecha]    Script Date: 18/04/2026 11:08:50 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_MovInv_Fecha] ON [dbo].[MovimientoInventario]
(
	[fecha_movimiento] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Pedido_Estado]    Script Date: 18/04/2026 11:08:50 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Pedido_Estado] ON [dbo].[Pedido]
(
	[estado_pedido] ASC,
	[fecha_pedido] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pedido_Fecha]    Script Date: 18/04/2026 11:08:50 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Pedido_Fecha] ON [dbo].[Pedido]
(
	[fecha_pedido] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Pedido_qrToken]    Script Date: 18/04/2026 11:08:50 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Pedido_qrToken] ON [dbo].[Pedido]
(
	[qr_token] ASC
)
WHERE ([qr_token] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Pedido_Repartidor]    Script Date: 18/04/2026 11:08:50 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Pedido_Repartidor] ON [dbo].[Pedido]
(
	[repartidor_id] ASC,
	[estado_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Pedido_TipoPedido]    Script Date: 18/04/2026 11:08:50 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Pedido_TipoPedido] ON [dbo].[Pedido]
(
	[tipo_pedido] ASC,
	[fecha_pedido] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Pedido_Whatsapp]    Script Date: 18/04/2026 11:08:50 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Pedido_Whatsapp] ON [dbo].[Pedido]
(
	[whatsapp] ASC,
	[fecha_pedido] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alerta] ADD  DEFAULT ((0)) FOR [atendida]
GO
ALTER TABLE [dbo].[Alerta] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Campana] ADD  DEFAULT ((0)) FOR [total_destinatarios]
GO
ALTER TABLE [dbo].[Campana] ADD  DEFAULT ((0)) FOR [total_enviados]
GO
ALTER TABLE [dbo].[Campana] ADD  DEFAULT ('borrador') FOR [estado]
GO
ALTER TABLE [dbo].[Campana] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[CampanaEnvio] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[CapacidadDiaria] ADD  DEFAULT ((0)) FOR [empanadas_vendidas]
GO
ALTER TABLE [dbo].[CapacidadDiaria] ADD  DEFAULT ((1)) FOR [acepta_pedidos]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ('inicio') FOR [sesion_estado]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((0)) FOR [total_pedidos]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((0)) FOR [total_gastado]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((0)) FOR [bloqueo_sordo]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((0)) FOR [bloqueo_ia]
GO
ALTER TABLE [dbo].[CorteCaja] ADD  DEFAULT ((0)) FOR [total_ventas]
GO
ALTER TABLE [dbo].[CorteCaja] ADD  DEFAULT ((0)) FOR [total_efectivo]
GO
ALTER TABLE [dbo].[CorteCaja] ADD  DEFAULT ((0)) FOR [total_tarjeta]
GO
ALTER TABLE [dbo].[CorteCaja] ADD  DEFAULT ((0)) FOR [total_pedidos]
GO
ALTER TABLE [dbo].[CorteCaja] ADD  DEFAULT ((0)) FOR [total_gastos]
GO
ALTER TABLE [dbo].[CorteCaja] ADD  DEFAULT ((0)) FOR [reserva_impuestos]
GO
ALTER TABLE [dbo].[CorteCaja] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[CotizacionEvento] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[CotizacionEvento] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[DatoFiscalCliente] ADD  DEFAULT ((1)) FOR [es_predeterminado]
GO
ALTER TABLE [dbo].[DatoFiscalCliente] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[DatoFiscalCliente] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[DetallePedido] ADD  DEFAULT ((0)) FOR [aplica_iva]
GO
ALTER TABLE [dbo].[DetallePedido] ADD  DEFAULT ((0)) FOR [iva_monto]
GO
ALTER TABLE [dbo].[DireccionCliente] ADD  DEFAULT ('Ciudad Juárez') FOR [ciudad]
GO
ALTER TABLE [dbo].[DireccionCliente] ADD  DEFAULT ('Chihuahua') FOR [estado]
GO
ALTER TABLE [dbo].[DireccionCliente] ADD  DEFAULT ((0)) FOR [es_predeterminada]
GO
ALTER TABLE [dbo].[DireccionCliente] ADD  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [dbo].[DireccionCliente] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Empleado] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha_alta]
GO
ALTER TABLE [dbo].[Empleado] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[EstadoCocina] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[GastoOperativo] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha_gasto]
GO
ALTER TABLE [dbo].[GastoOperativo] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[HistorialPrecio] ADD  DEFAULT (getdate()) FOR [vigente_desde]
GO
ALTER TABLE [dbo].[Insumo] ADD  DEFAULT ((0)) FOR [stock_actual]
GO
ALTER TABLE [dbo].[Insumo] ADD  DEFAULT ((0)) FOR [stock_minimo]
GO
ALTER TABLE [dbo].[Insumo] ADD  DEFAULT ((0)) FOR [costo_unitario]
GO
ALTER TABLE [dbo].[Insumo] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Insumo] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[LogSistema] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[MensajeExterno] ADD  DEFAULT ((0)) FOR [requiere_humano]
GO
ALTER TABLE [dbo].[MensajeExterno] ADD  DEFAULT ((0)) FOR [respondido]
GO
ALTER TABLE [dbo].[MensajeExterno] ADD  DEFAULT (getdate()) FOR [fecha_recepcion]
GO
ALTER TABLE [dbo].[Merma] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[MovimientoInventario] ADD  DEFAULT (getdate()) FOR [fecha_movimiento]
GO
ALTER TABLE [dbo].[PagoPasarela] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[PagoPasarela] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ('pendiente') FOR [estado_pago]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [requiere_factura]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [iva]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [descuento]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ('recibido') FOR [estado_pedido]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [entregado]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ('whatsapp') FOR [canal]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [es_cotizacion]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [cotizacion_atendida]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [qr_generado]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT (getdate()) FOR [fecha_pedido]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [opinion_solicitada]
GO
ALTER TABLE [dbo].[PedidoPromocion] ADD  DEFAULT ((0)) FOR [descuento_aplicado]
GO
ALTER TABLE [dbo].[PedidoPromocion] ADD  DEFAULT (getdate()) FOR [fecha_aplicacion]
GO
ALTER TABLE [dbo].[PrestamoEmpleado] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha_prestamo]
GO
ALTER TABLE [dbo].[PrestamoEmpleado] ADD  DEFAULT ((0)) FOR [pagado]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [aplica_iva]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0.16)) FOR [tasa_iva]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Promocion] ADD  DEFAULT ((0)) FOR [min_pedidos_req]
GO
ALTER TABLE [dbo].[Promocion] ADD  DEFAULT ((0)) FOR [min_monto_req]
GO
ALTER TABLE [dbo].[Promocion] ADD  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [dbo].[Promocion] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[PublicacionRedSocial] ADD  DEFAULT ('borrador') FOR [estado]
GO
ALTER TABLE [dbo].[PublicacionRedSocial] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[TarjetaCliente] ADD  DEFAULT ((0)) FOR [es_predeterminada]
GO
ALTER TABLE [dbo].[TarjetaCliente] ADD  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [dbo].[TarjetaCliente] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Alerta]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[Empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[Campana]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[Empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[Campana]  WITH CHECK ADD FOREIGN KEY([red_social_id])
REFERENCES [dbo].[RedSocial] ([red_social_id])
GO
ALTER TABLE [dbo].[Campana]  WITH CHECK ADD FOREIGN KEY([tipo_campana_id])
REFERENCES [dbo].[TipoCampana] ([tipo_campana_id])
GO
ALTER TABLE [dbo].[CampanaEnvio]  WITH CHECK ADD FOREIGN KEY([campana_id])
REFERENCES [dbo].[Campana] ([campana_id])
GO
ALTER TABLE [dbo].[CampanaEnvio]  WITH CHECK ADD FOREIGN KEY([whatsapp])
REFERENCES [dbo].[Cliente] ([whatsapp])
GO
ALTER TABLE [dbo].[CapacidadDiaria]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[Empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[CorteCaja]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[Empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[CotizacionEvento]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[Empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[CotizacionEvento]  WITH CHECK ADD FOREIGN KEY([pedido_id])
REFERENCES [dbo].[Pedido] ([pedido_id])
GO
ALTER TABLE [dbo].[CotizacionEvento]  WITH CHECK ADD FOREIGN KEY([whatsapp])
REFERENCES [dbo].[Cliente] ([whatsapp])
GO
ALTER TABLE [dbo].[DatoFiscalCliente]  WITH CHECK ADD FOREIGN KEY([cfdi_uso_id])
REFERENCES [dbo].[CfdiUso] ([cfdi_uso_id])
GO
ALTER TABLE [dbo].[DatoFiscalCliente]  WITH CHECK ADD FOREIGN KEY([regimen_id])
REFERENCES [dbo].[RegimenFiscal] ([regimen_id])
GO
ALTER TABLE [dbo].[DatoFiscalCliente]  WITH CHECK ADD FOREIGN KEY([whatsapp])
REFERENCES [dbo].[Cliente] ([whatsapp])
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([pedido_id])
REFERENCES [dbo].[Pedido] ([pedido_id])
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[Producto] ([producto_id])
GO
ALTER TABLE [dbo].[DireccionCliente]  WITH CHECK ADD FOREIGN KEY([whatsapp])
REFERENCES [dbo].[Cliente] ([whatsapp])
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([rol_id])
REFERENCES [dbo].[Rol] ([rol_id])
GO
ALTER TABLE [dbo].[EstadoCocina]  WITH CHECK ADD FOREIGN KEY([empleado_cocina_id])
REFERENCES [dbo].[Empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[EstadoCocina]  WITH CHECK ADD FOREIGN KEY([pedido_id])
REFERENCES [dbo].[Pedido] ([pedido_id])
GO
ALTER TABLE [dbo].[GastoOperativo]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[Empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[GastoOperativo]  WITH CHECK ADD FOREIGN KEY([tipo_gasto_id])
REFERENCES [dbo].[TipoGasto] ([tipo_gasto_id])
GO
ALTER TABLE [dbo].[HistorialPrecio]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[Empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[HistorialPrecio]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[Producto] ([producto_id])
GO
ALTER TABLE [dbo].[Insumo]  WITH CHECK ADD FOREIGN KEY([proveedor_id])
REFERENCES [dbo].[Proveedor] ([proveedor_id])
GO
ALTER TABLE [dbo].[Insumo]  WITH CHECK ADD FOREIGN KEY([unidad_id])
REFERENCES [dbo].[UnidadMedida] ([unidad_id])
GO
ALTER TABLE [dbo].[LogSistema]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[Empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[MensajeExterno]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[Empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[MensajeExterno]  WITH CHECK ADD FOREIGN KEY([red_social_id])
REFERENCES [dbo].[RedSocial] ([red_social_id])
GO
ALTER TABLE [dbo].[Merma]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[Empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[Merma]  WITH CHECK ADD FOREIGN KEY([insumo_id])
REFERENCES [dbo].[Insumo] ([insumo_id])
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[Empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD FOREIGN KEY([insumo_id])
REFERENCES [dbo].[Insumo] ([insumo_id])
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD FOREIGN KEY([proveedor_id])
REFERENCES [dbo].[Proveedor] ([proveedor_id])
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD FOREIGN KEY([tipo_mov_id])
REFERENCES [dbo].[TipoMovimientoInventario] ([tipo_mov_id])
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [FK_MovInv_Pedido] FOREIGN KEY([pedido_id])
REFERENCES [dbo].[Pedido] ([pedido_id])
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [FK_MovInv_Pedido]
GO
ALTER TABLE [dbo].[PagoPasarela]  WITH CHECK ADD FOREIGN KEY([metodo_pago_id])
REFERENCES [dbo].[MetodoPago] ([metodo_pago_id])
GO
ALTER TABLE [dbo].[PagoPasarela]  WITH CHECK ADD FOREIGN KEY([pedido_id])
REFERENCES [dbo].[Pedido] ([pedido_id])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([dato_fiscal_id])
REFERENCES [dbo].[DatoFiscalCliente] ([dato_fiscal_id])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([direccion_id])
REFERENCES [dbo].[DireccionCliente] ([direccion_id])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([metodo_pago_id])
REFERENCES [dbo].[MetodoPago] ([metodo_pago_id])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([repartidor_id])
REFERENCES [dbo].[Empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([tarjeta_id])
REFERENCES [dbo].[TarjetaCliente] ([tarjeta_id])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([whatsapp])
REFERENCES [dbo].[Cliente] ([whatsapp])
GO
ALTER TABLE [dbo].[PedidoPromocion]  WITH CHECK ADD FOREIGN KEY([pedido_id])
REFERENCES [dbo].[Pedido] ([pedido_id])
GO
ALTER TABLE [dbo].[PedidoPromocion]  WITH CHECK ADD FOREIGN KEY([promocion_id])
REFERENCES [dbo].[Promocion] ([promocion_id])
GO
ALTER TABLE [dbo].[PrestamoEmpleado]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[Empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([categoria_id])
REFERENCES [dbo].[CategoriaProducto] ([categoria_id])
GO
ALTER TABLE [dbo].[Promocion]  WITH CHECK ADD FOREIGN KEY([producto_gratis_id])
REFERENCES [dbo].[Producto] ([producto_id])
GO
ALTER TABLE [dbo].[PublicacionRedSocial]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[Empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[PublicacionRedSocial]  WITH CHECK ADD FOREIGN KEY([red_social_id])
REFERENCES [dbo].[RedSocial] ([red_social_id])
GO
ALTER TABLE [dbo].[RecetaProducto]  WITH CHECK ADD FOREIGN KEY([insumo_id])
REFERENCES [dbo].[Insumo] ([insumo_id])
GO
ALTER TABLE [dbo].[RecetaProducto]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[Producto] ([producto_id])
GO
ALTER TABLE [dbo].[TarjetaCliente]  WITH CHECK ADD FOREIGN KEY([whatsapp])
REFERENCES [dbo].[Cliente] ([whatsapp])
GO
ALTER TABLE [dbo].[Campana]  WITH CHECK ADD CHECK  (([estado]='cancelada' OR [estado]='enviada' OR [estado]='en_proceso' OR [estado]='programada' OR [estado]='borrador'))
GO
ALTER TABLE [dbo].[CampanaEnvio]  WITH CHECK ADD CHECK  (([estado]='respondido' OR [estado]='fallido' OR [estado]='entregado' OR [estado]='enviado' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD CHECK  (([genero]='N' OR [genero]='O' OR [genero]='F' OR [genero]='M'))
GO
ALTER TABLE [dbo].[CotizacionEvento]  WITH CHECK ADD CHECK  (([estado]='cancelada' OR [estado]='rechazada' OR [estado]='aceptada' OR [estado]='contactado' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[EstadoCocina]  WITH CHECK ADD CHECK  (([estado]='cancelado' OR [estado]='terminado' OR [estado]='en_proceso' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[LogSistema]  WITH CHECK ADD CHECK  (([nivel]='DEBUG' OR [nivel]='ERROR' OR [nivel]='WARN' OR [nivel]='INFO'))
GO
ALTER TABLE [dbo].[PagoPasarela]  WITH CHECK ADD CHECK  (([estado]='reembolsado' OR [estado]='rechazado' OR [estado]='aprobado' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD CHECK  (([calificacion_tiempo]>=(1) AND [calificacion_tiempo]<=(5)))
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD CHECK  (([calificacion_producto]>=(1) AND [calificacion_producto]<=(5)))
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD CHECK  (([canal]='presencial' OR [canal]='web' OR [canal]='llamada' OR [canal]='whatsapp'))
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD CHECK  (([estado_pago]='reembolsado' OR [estado_pago]='fallido' OR [estado_pago]='pagado' OR [estado_pago]='pendiente'))
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD CHECK  (([estado_pedido]='cancelado' OR [estado_pedido]='entregado' OR [estado_pedido]='en_camino' OR [estado_pedido]='listo' OR [estado_pedido]='en_cocina' OR [estado_pedido]='recibido'))
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD CHECK  (([tipo_entrega]='tienda' OR [tipo_entrega]='domicilio'))
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD CHECK  (([tipo_pedido]='evento' OR [tipo_pedido]='individual'))
GO
ALTER TABLE [dbo].[Promocion]  WITH CHECK ADD CHECK  (([tipo]='primera_compra' OR [tipo]='producto_gratis' OR [tipo]='monto_fijo' OR [tipo]='porcentaje'))
GO
ALTER TABLE [dbo].[PublicacionRedSocial]  WITH CHECK ADD CHECK  (([estado]='cancelada' OR [estado]='publicada' OR [estado]='programada' OR [estado]='borrador'))
GO
/****** Object:  StoredProcedure [dbo].[sp_ConfirmarEntrega]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ── SP: Confirmar entrega ──────────────────────────────────────
CREATE   PROCEDURE [dbo].[sp_ConfirmarEntrega]
    @pedido_id              INT,
    @codigo_repartidor      VARCHAR(10),
    @repartidor_id          INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @codigo_sistema VARCHAR(10);
    SELECT @codigo_sistema = codigo_entrega_sistema FROM Pedido WHERE pedido_id = @pedido_id;

    IF @codigo_sistema = @codigo_repartidor
    BEGIN
        UPDATE Pedido SET
            codigo_entrega_repartidor = @codigo_repartidor,
            entregado                 = 1,
            estado_pedido             = 'entregado',
            fecha_entrega_real        = GETDATE(),
            repartidor_id             = @repartidor_id
        WHERE pedido_id = @pedido_id;

        -- Actualizar total gastado del cliente
        UPDATE c SET total_gastado = total_gastado + p.total
        FROM Cliente c JOIN Pedido p ON c.whatsapp = p.whatsapp
        WHERE p.pedido_id = @pedido_id;

        -- Log
        INSERT INTO LogSistema (nivel, modulo, accion, pedido_id, empleado_id)
        VALUES ('INFO', 'repartidor', 'confirmar_entrega', @pedido_id, @repartidor_id);

        SELECT 1 AS entrega_confirmada, 'Entrega confirmada correctamente' AS mensaje;
    END
    ELSE
    BEGIN
        INSERT INTO LogSistema (nivel, modulo, accion, pedido_id, detalle)
        VALUES ('WARN', 'repartidor', 'codigo_incorrecto', @pedido_id,
                '{"codigo_ingresado":"' + @codigo_repartidor + '"}');

        SELECT 0 AS entrega_confirmada, 'Código incorrecto. Verifique con el cliente.' AS mensaje;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CorteDiario]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ── SP: Corte diario de caja ───────────────────────────────────
CREATE   PROCEDURE [dbo].[sp_CorteDiario]
    @empleado_id    INT,
    @fecha_corte    DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    IF @fecha_corte IS NULL SET @fecha_corte = CAST(GETDATE() AS DATE);

    DECLARE
        @ventas     DECIMAL(12,2),
        @efectivo   DECIMAL(12,2),
        @tarjeta    DECIMAL(12,2),
        @pedidos    INT,
        @gastos     DECIMAL(12,2),
        @iva_res    DECIMAL(12,2);

    SELECT
        @ventas   = ISNULL(SUM(total), 0),
        @efectivo = ISNULL(SUM(CASE WHEN metodo_pago_id = 1 THEN total ELSE 0 END), 0),
        @tarjeta  = ISNULL(SUM(CASE WHEN metodo_pago_id IN (2,3) THEN total ELSE 0 END), 0),
        @pedidos  = COUNT(*)
    FROM Pedido
    WHERE CAST(fecha_pedido AS DATE) = @fecha_corte
      AND estado_pedido = 'entregado';

    SELECT @gastos = ISNULL(SUM(monto), 0)
    FROM GastoOperativo
    WHERE fecha_gasto = @fecha_corte;

    -- Reserva IVA: 16% sobre pedidos con factura
    SELECT @iva_res = ISNULL(SUM(iva), 0)
    FROM Pedido
    WHERE CAST(fecha_pedido AS DATE) = @fecha_corte
      AND requiere_factura = 1
      AND estado_pedido = 'entregado';

    MERGE CorteCaja AS target
    USING (SELECT @fecha_corte AS fecha) AS source ON target.fecha_corte = source.fecha
    WHEN MATCHED THEN
        UPDATE SET
            total_ventas      = @ventas,
            total_efectivo    = @efectivo,
            total_tarjeta     = @tarjeta,
            total_pedidos     = @pedidos,
            total_gastos      = @gastos,
            reserva_impuestos = @iva_res,
            empleado_id       = @empleado_id
    WHEN NOT MATCHED THEN
        INSERT (empleado_id, fecha_corte, total_ventas, total_efectivo, total_tarjeta,
                total_pedidos, total_gastos, reserva_impuestos)
        VALUES (@empleado_id, @fecha_corte, @ventas, @efectivo, @tarjeta,
                @pedidos, @gastos, @iva_res);

    SELECT
        @fecha_corte        AS fecha_corte,
        @ventas             AS total_ventas,
        @efectivo           AS total_efectivo,
        @tarjeta            AS total_tarjeta,
        @pedidos            AS total_pedidos,
        @gastos             AS total_gastos,
        @iva_res            AS reserva_impuestos,
        @ventas - @gastos   AS utilidad_bruta;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearPedido]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ── SP: Crear pedido ──────────────────────────────────────────
CREATE   PROCEDURE [dbo].[sp_CrearPedido]
    @whatsapp           VARCHAR(20),
    @tipo_pedido        VARCHAR(10),
    @tipo_entrega       VARCHAR(10),
    @direccion_id       INT             = NULL,
    @metodo_pago_id     TINYINT,
    @requiere_factura   BIT             = 0,
    @dato_fiscal_id     INT             = NULL,
    @canal              VARCHAR(20)     = 'whatsapp',
    @es_cotizacion      BIT             = 0,
    @fecha_evento       DATETIME2       = NULL,
    @nuevo_pedido_id    INT             OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- Verificar capacidad del día
        IF EXISTS (
            SELECT 1 FROM CapacidadDiaria
            WHERE fecha = CAST(GETDATE() AS DATE)
              AND acepta_pedidos = 0
        )
        BEGIN
            RAISERROR('El negocio no acepta más pedidos por hoy.', 16, 1);
            RETURN;
        END

        -- Generar código de entrega
        DECLARE @codigo VARCHAR(10) = UPPER(LEFT(NEWID(), 8));

        INSERT INTO Pedido (
            whatsapp, tipo_pedido, tipo_entrega, direccion_id,
            metodo_pago_id, requiere_factura, dato_fiscal_id,
            canal, es_cotizacion, fecha_evento, codigo_entrega_sistema
        ) VALUES (
            @whatsapp, @tipo_pedido, @tipo_entrega, @direccion_id,
            @metodo_pago_id, @requiere_factura, @dato_fiscal_id,
            @canal, @es_cotizacion, @fecha_evento, @codigo
        );

        SET @nuevo_pedido_id = SCOPE_IDENTITY();

        -- Insertar estado de cocina inicial
        INSERT INTO EstadoCocina (pedido_id, estado) VALUES (@nuevo_pedido_id, 'pendiente');

        -- Incrementar contador del cliente
        UPDATE Cliente SET total_pedidos = total_pedidos + 1
        WHERE whatsapp = @whatsapp;

        -- Log
        INSERT INTO LogSistema (nivel, modulo, accion, whatsapp, pedido_id, detalle)
        VALUES ('INFO', 'bot_whatsapp', 'crear_pedido', @whatsapp, @nuevo_pedido_id, 
                '{"tipo":"' + @tipo_pedido + '","canal":"' + @canal + '"}');

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GuardarSesionBot]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GuardarSesionBot]
    @whatsapp   VARCHAR(20),
    @step       VARCHAR(30),
    @datos_json NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Cliente SET
        sesion_estado      = @step,
        sesion_datos       = @datos_json,
        sesion_actualizada = GETDATE()
    WHERE whatsapp = @whatsapp;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LimpiarSesionesViejas]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ── SP: Limpiar sesiones viejas (cron cada día) ───────────────
CREATE   PROCEDURE [dbo].[sp_LimpiarSesionesViejas]
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Cliente SET
        sesion_estado      = 'inicio',
        sesion_datos       = NULL,
        sesion_actualizada = NULL
    WHERE sesion_actualizada < DATEADD(DAY, -5, GETDATE())
      AND sesion_estado <> 'inicio';

    -- Log de la limpieza
    INSERT INTO LogSistema (nivel, modulo, accion, detalle)
    VALUES ('INFO', 'bot_whatsapp', 'limpiar_sesiones', 'Sesiones con más de 5 días sin actividad reseteadas');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertCliente]    Script Date: 18/04/2026 11:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpsertCliente]
    @whatsapp   VARCHAR(20),
    @nombre     VARCHAR(80)     = NULL,
    @apellidos  VARCHAR(80)     = NULL,
    @genero     CHAR(1)         = NULL,
    @email      VARCHAR(120)    = NULL
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Cliente WHERE whatsapp = @whatsapp)
    BEGIN
        UPDATE Cliente SET
            nombre    = ISNULL(@nombre,    nombre),
            apellidos = ISNULL(@apellidos, apellidos),
            genero    = ISNULL(@genero,    genero),
            email     = ISNULL(@email,     email)
        WHERE whatsapp = @whatsapp;
    END
    ELSE
    BEGIN
        INSERT INTO Cliente (whatsapp, nombre, apellidos, genero, email)
        VALUES (@whatsapp, @nombre, @apellidos, @genero, @email);
    END
END;
GO
USE [master]
GO
